<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <section class="pt-5 pb-5">
        <div class="general">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <h3 class="text-center color">O que falam sobre nós</h3>
                        <!-- <div class="col-12 text-right">
                            <a class="btn mb-3 mr-1" href="#carouselExampleIndicators2" role="button"
                                data-slide="prev">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                            <a class="btn mb-3 " href="#carouselExampleIndicators2" role="button"
                                data-slide="next">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div> -->
                        <div class="col-12">
                            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <!--novo car-->
                                            <div class="col-md-4 mb-3">
                                                <div class="card">
                                                    <img class="card-img-top" alt="100%x280" src="../../assets/imgs/girl1.jpeg">                                                    
                                                    <div class="card-body">
                                                        <p class="card-text">O bolo estava maravilhoso, bem molhadinho, vontade de nunca parar de comer.Amei!!!! </p>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                    </div>
                                                </div>
                                            </div>



                                            <!--novo card-->
                                            <div class="col-md-4 mb-3">
                                                <div class="card">
                                                    <img class="card-img-top" alt="100%x280" src="../../assets/imgs/man1.jpeg">                                                    
                                                    <div class="card-body">
                                                        <p class="card-text">O pessoal amou o ovo de páscoa, principalmente as lembrancinhas, tão bonitinhas!</p>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Novo Card-->
                                            <div class="col-md-4 mb-3">
                                                <div class="card">
                                                    <img class="card-img-top" alt="100%x280" src="../../assets/imgs/girl2.jpeg">                                                    
                                                    <div class="card-body">
                                                        <p class="card-text">Que bolo maravilhoso. parabéns! Que mão de fada. Virei sua cliente fiel!</p>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <!--novo lista-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <!--novo card-->
                                            <div class="col-md-4 mb-3">
                                                <div class="card">
                                                    <img class="card-img-top" alt="100%x280" src="../../assets/img/constre.jpeg">                                                    
                                                    <div class="card-body">
                                                        <p class="card-text">Um texto sobre a empresa e sua experiência, por cliente Fulano de tal.</p>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--novo card-->
                                            <div class="col-md-4 mb-3">
                                                <div class="card">
                                                    <img class="card-img-top" alt="100%x280" src="../../assets/img/construcao-civil.jpg">                                                    
                                                    <div class="card-body">
                                                        <p class="card-text">Um texto sobre a empresa e sua experiência, por cliente Fulano de tal.</p>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--novo card-->
                                            <div class="col-md-4 mb-3">
                                                <div class="card">
                                                    <img class="card-img-top" alt="100%x280" src="../../assets/img/ricj.jpg">                                                    
                                                    <div class="card-body">
                                                        <p class="card-text">Um texto sobre a empresa e sua experiência, por cliente Fulano de tal.</p>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <!--nova lista-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <!--novo card-->
                                            <div class="col-md-4 mb-3">
                                                <div class="card">
                                                    <img class="card-img-top" alt="100%x280" src="">                                                    
                                                    <div class="card-body">
                                                        <p class="card-text">Um texto sobre a empresa e sua experiência, por cliente Fulano de tal.</p>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--novo card-->
                                            <div class="col-md-4 mb-3">
                                                <div class="card">
                                                    <img class="card-img-top" alt="100%x280" src="../../assets/img/">                                                    
                                                    <div class="card-body">
                                                        <p class="card-text">Um texto sobre a empresa e sua experiência, por cliente Fulano de tal.</p>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--novo card-->
                                            <div class="col-md-4 mb-3">
                                                <div class="card">
                                                    <img class="card-img-top" alt="100%x280" src="../../assets/img/constre.jpeg">                                                    
                                                    <div class="card-body">
                                                        <p class="card-text">Um texto sobre a empresa e sua experiência, por cliente Fulano de tal.</p>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                        <a href="#"><i class="fa fa-heart" style="color: red;"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>